.Details{
    display: flex;
    justify-content: space-around;
    background-color: #f1f1f1;
    padding-bottom: 40px;
    /* border-top: 20px; */
    
}

.heading{
    display: flex;
    justify-content: space-between;
}
input{
    background-color: white;
    margin-top: 10px;
}
select{
    background-color: white;
    margin-top: 10px;
}
.corner-input{
    padding: 10px 300px 10px 10px;
}
.middle-input{
    padding: 10px 0px 10px 10px;
    width: 45%;
}
.inputs{
    display: flex;
    gap: 20px;
}
.inputs-2{
    display: flex;
    gap: 20px;
}
button{
    height: 100%;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: black;
    color: white;
}

.dob{
    margin-left: 15px;
}
.city{
    margin-left: 25px;;
}
.pin{
    margin-left: 10px;
}