.Navbar{
    display: flex;
    justify-content: space-between;
    background-color: #c4c4c4;
}

ul{
    display: flex;
    list-style-type: none;
    
}
li{
    padding: 10px;
}

.nav-img{
    display: flex;
}
.nav-megan{
    border-radius: 50px;
}