.Profile{
    text-align: center;
}

.megan{
    border-radius: 50%;
}
.para{
    
    background-color: #f1f1f1;
}
.para-button{
    justify-content: end;
}
.main-para{
    padding: 30px 50px 50px 50px;
}